<div class="quickevent row">
	<h1 class="title six mobile-two columns"><a href="/"><%= event_info.title %></a></h1>
	<h4 class="six mobile-two columns"><span class="radius label">Quick Event App</span></h4>
</div>
<header class="row">
	<!-- <h1 class="title"><a href="/"><%= event_info %></a></h1>	 -->
  <% content_for(:title) { "#{event_info.title} News" } %>
	<h1>News</h1>
	<hr>	
</header>
<section class="news row" style="padding-bottom: 20px;">
  <% @news.each do |item| %>
  	<div>
      <% if item.class == News %>
  	    <h3><%= item.title %></h3> 
  	    <p><%= "#{pretty_time(item.published_at)}" || item.created_at %></p>
  	    <p><%= item.content %></p>
      <% elsif item.class == ActiveSupport::TimeWithZone %>
       <h2><%=pretty_date(item)%></h2>
      <% end %>
    </div>
  <% end %>
</section>