<h1>About</h1>
<div id="title">Welcome to <%= @event_info.title %></div>
<div>Organized by <%= @event_info.organizer %></div>
<div>Start: <%= @event_info.start %> End: <%= @event_info.end %></div>
<div>About the Conference: <%= @event_info.description %> </div>


