<h1>Home</h1>

<%= link_to "Schedule", schedule_path %>
<%= link_to "About", about_path %>
<%= link_to "Twitter", twitter_path %>
<%= link_to "Map", map_path %>
<%= link_to "News", news_path %>

<!--
<% @pages.each do |page| %>
  <%= link_to page.title, "/#{page.title}" %>
<% end %>
-->